.contents-wrapper {
  width: 35%;
  min-width: 357px;
  text-align: center;
  margin: auto;
}

.car-number-input {
  padding: 9px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.car-number {
  padding-bottom: 30px;
}

.title {
  font: 500 24.3333px Arial;
  padding-top: 30px;
  padding-bottom: 30px;
}

.next-button {
  background: #58ba57;
  color: white;
}

.next {
  padding-bottom: 20px;
}
