<div class="contents-wrapper">
  <div class="title">
    Įveskite mašinos nr.
  </div>
  <div class="car-number">
    <input class="car-number-input" [(ngModel)]="carNumber" (keypress)="onChange($event)" type="text" placeholder="Mašinos nr.">
  </div>
  <div class="next">
    <button mat-button class="next-button" (click)="onNextClick()">
      Toliau
    </button>
  </div>
  <div class="help" (click)="onHelpClick()">
    Reikia pagalbos?
  </div>
</div>
