<div class="contents-wrapper">
  <div class="title">
    Pasirinkite savo buvimo vietą, tempkite "žymeklį". Kad jūsų vieta būtų kuo tikslesnė, įjunkite GPS.
  </div>
  <div class="map-wrapper">
    <agm-map [zoom]="15" [latitude]="latitude" [longitude]="longitude">
      <agm-marker [longitude]="longitude" [latitude]="latitude" [markerDraggable]="true" (dragEnd)="onDrop($event)"></agm-marker>
    </agm-map>
  </div>
  <div class="next">
    <button mat-button class="next-button" (click)="onNextClick()">
      Toliau
    </button>
  </div>
</div>
