agm-map {
  height: 300px;
}

.contents-wrapper {
  width: 50%;
  min-width: 357px;
  text-align: center;
  margin: auto;
}

.title {
  text-align: left;
  font: 500 17.3333px Arial;
  padding-top: 30px;
  padding-bottom: 30px;
}

.next-button {
  background: #58ba57;
  color: white;
}

.next {
  padding-bottom: 20px;
  padding-top: 20px;
}
