<div class="contents-wrapper">
  <div class="title">
    Tech. pagalbos preliminarus atvykimo laikas {{timeToArrivalLabel}}
  </div>
  <div class="map-wrapper">
    <agm-map #agmMap [zoom]="15" [latitude]="latitude" [longitude]="longitude">
      <agm-marker [longitude]="longitude" [latitude]="latitude" [markerDraggable]="false"></agm-marker>
      <agm-marker [longitude]="assistanceLongitude" [latitude]="assistanceLatitude" [iconUrl]="carIconUrl" [markerDraggable]="true"></agm-marker>
      <agm-direction *ngIf="routeVisible" [origin]="{lat: latitude + 0.005, lng: longitude + 0.005}" [destination]="{lat: latitude, lng: longitude}" (onChange)="change($event)">
      </agm-direction>
    </agm-map>
  </div>
  <div class="contact-info">
    Pas jus važiuoja Eimantas Kavaliauskas +37061005032
    <a href="tel:+37061005032">
      <button mat-button class="call-button" (click)="onNextClick()">
        Skambinti
      </button>
    </a>
  </div>
  <div class="links">
    <div class="link" (click)="changeRoute(1)">
      Linkas 1
    </div>
    <div class="link" (click)="changeRoute(2)">
      Linkas 2
    </div>
  </div>
</div>
