agm-map {
  height: 300px;
}

.contents-wrapper {
  width: 50%;
  min-width: 357px;
  text-align: center;
  margin: auto;
}

.title {
  font: 500 17.3333px Arial;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-info {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: solid black 1px;
}

.call-button {
  background-color: #3f8acb;
  color: white;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 10px;
}

.links {
  text-align: left;
}

.link {
  padding-top: 10px;
}
